@import "hamburgers.css";

nav {
  margin: 1.5vw auto;
  padding-right: 3vw;
  padding-left: 3vw;
  width: 90%;
  display: inline-flex;
  align-items: center;
  color: #a6a6a6;
  font-size: 16px;
}

.center-span {
  margin: 0 auto;
}

#logo {
  max-width: 210px;
}

.item {
  margin-left: 12px;
  color: #a6a6a6;
}
.item:visited {
  color: #a6a6a6;
}
.item:hover,
.item.active {
  color: #333;
}

.hamburger {
  display: none;
}
.mobile-nav {
  display: none;
}

/* mobile styling */
@media only screen and (max-width: 650px) {
  nav {
    width: 80%;
    margin-top: 10%;
    display: block;
  }

  .center-span {
    margin-top: 20px;
    display: block;
    font-size: 16px;
  }

  .right-span {
    display: none;
  }

  .mobile-nav {
    display: none;
    background: white;
  }
  .mobile-nav.is-active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }
  .mobile-items {
    margin: auto;
    width: 50%;
    padding-top: 40%;
    padding-bottom: 40%;
  }
  .item {
    font-size: 22px;
    display: block;
    text-align: center;
    letter-spacing: 0.12em;
    line-height: 1.8em;
  }

  #logo {
    max-width: 100px;
  }

  .hamburger {
    display: inline;
    float: right;
  }
}
